
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Multinc Role - {{ username }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-row>
    <ion-col no-padding class="game-area">

      <ion-row no-padding class="chat-header">
        <ion-col no-padding>
          <ion-toolbar color="tertiary">

            <ion-buttons left *ngIf="player">
              <button ion-button icon-only (click)="hidePlayer()">
                <ion-icon name="arrow-round-back"></ion-icon>
              </button>
            </ion-buttons>

            <ion-title *ngIf="!inGame && !player">Play - {{ allRoomInfo.length }} Games Open</ion-title>
            <ion-title *ngIf="inGame && !player">Playing Game - {{ gameState.leader }}'s Game (Floor {{ gameState ? gameState.currentStep + 1 :  1}})</ion-title>
            <ion-title *ngIf="player">My Character</ion-title>

            <ion-buttons right *ngIf="player">
              <button ion-button outline (click)="changeStyle()">
                Change Style
              </button>
              <button ion-button icon-left outline (click)="automatic()">
                <ion-icon [name]="player.automatic ? 'checkmark-circle' : 'close-circle'"></ion-icon>
                Automatic Play
              </button>
            </ion-buttons>

          </ion-toolbar>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="player">

        <ion-item class="hidden">
          <ion-label>Style Selection</ion-label>
          <ion-select #styles (ionChange)="_changeStyle($event)">
            <ion-option *ngFor="let style of buyData.styles" [value]="style.name" [disabled]="player.levels[style.name] ? false : style.cost > player.gold">
              {{ style.name }}
              <span *ngIf="player.levels[style.name]">Lv. {{ player.levels[style.name] }}</span>
              <span *ngIf="!player.levels[style.name]">({{ style.cost | number }} gold)</span>
            </ion-option>
          </ion-select>
        </ion-item>

        <ion-col padding>
          <ion-row>
            <ion-col class="vertical-center">
              <ion-col style="max-width: 58px">
                <sprite [name]="'PLAYER_'+player.style.toUpperCase()"></sprite>
              </ion-col>
              <ion-col>
                <span class="padl">{{ player.style }} Lv. {{ player.levels[player.style] || 1 }} - {{ player.maxHp }} HP</span>
                <button ion-button small [disabled]="levelupXP > player.xp" (click)="levelUp()">Level Up ({{ levelupXP | number }} XP)</button>
              </ion-col>
            </ion-col>
            <ion-col col-3 class="vertical-center">
              <img src="http://seiyria.com/gameicons-font/svg/coins.svg" width="48" height="48" /> <span class="padl">{{ player.gold | number }} gold</span>
            </ion-col>
            <ion-col col-3 class="vertical-center">
              <img src="http://seiyria.com/gameicons-font/svg/abstract-010.svg" width="48" height="48" /> <span class="padl">{{ player.xp | number }} xp</span>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col col-2 no-padding
                     *ngFor="let move of player.moves; let i = index"
                     class="move-col"
                     [class.changeable]="i > 0"
                     [class.active]="selectedMove === i">
              <div (click)="selectMove(i)">
                <action-sprite [name]="move"></action-sprite>
              </div>
              <div>
                {{ move }}
              </div>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-list class="move-list">
                <ion-item text-wrap *ngFor="let skillData of filteredSkills" class="skill-button">

                    <ion-avatar item-start>
                      <action-sprite [name]="skillData.name"></action-sprite>
                    </ion-avatar>

                    <h2>{{ skillData.name }}</h2>
                    <h3>Required Level: {{ skillData.level }}</h3>
                    <p>{{ skillData.desc }}</p>

                    <button outline item-end ion-button color="primary"
                            [disabled]="!selectedMove || skillData.level > player.levels[player.style] || skillData.cost > player.gold"
                            (click)="buySkill(skillData.name)">Buy for {{skillData.cost | number }} gold</button>
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="!inGame && !player">
        <ion-col>
          <button ion-button color="primary" (click)="joinGame(null, true)" block>Start New Game</button>
        </ion-col>
        <ion-col>
          <button ion-button color="primary" (click)="loadCharacter()" block>My Character</button>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="inGame && !gameState.adventureStarted" class="game-buttons-area">
        <ion-col>
          <button ion-button color="primary" [disabled]="!isLeader" (click)="startGame()" block>Begin Adventure ({{ gameState.players.length }}/4)</button>
        </ion-col>
        <ion-col>
          <button ion-button color="primary" (click)="quitGame()" block>Leave Group</button>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="inGame && !gameState.adventureStarted" padding class="game-content-area">
        <ion-col>
          <div class="blank-slate small" *ngIf="isLeader">
            Start the game when your party is ready.
          </div>
          <div class="blank-slate small" *ngIf="!isLeader">
            Wait for the leader to start the game.
          </div>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="inGame && gameState.adventureStarted" padding class="game-player-area">
        <ion-col col-3 *ngFor="let monster of gameState.currentMonsters" class="player" (click)="target(monster.id)">
          <div class="sprite-container">
            <span class="adds" *ngIf="monster.attack || monster.defense">
              +{{ monster.attack }}A / +{{ monster.defense }}D
            </span>
            <sprite [name]="'ENEMY_'+monster.spriteKey"></sprite>
          </div>
          <div>
            <h6>{{ monster.name }} (Lv. {{ monster.level }})</h6>
          </div>
          <div *ngIf="monster.hp > 0">
            {{ monster.hp }} / {{ monster.maxHp }}
          </div>
          <div *ngIf="monster.hp <= 0">
            DEAD
          </div>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="inGame && gameState.adventureStarted" padding class="game-content-area">
        <ion-col>
          <div class="blank-slate smaller">
            {{ gameState.status }}
          </div>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="inGame" padding class="game-player-area">
        <ion-col col-3 *ngFor="let player of gameState.players" class="player" (click)="target(player.id)">
          <div class="sprite-container-container">

            <div class="sprite-container">
              <span class="adds" *ngIf="player.attack || player.defense">
                +{{ player.attack }}A/{{ player.defense }}D
              </span>
              <sprite [name]="'PLAYER_'+player.style.toUpperCase()"></sprite>
            </div>

            <div class="sprite-container">
              <span class="check" *ngIf="gameState.playerTargets[player.name]">
                <ion-icon name="checkmark"></ion-icon>
              </span>
              <action-sprite [name]="gameState.playerActions[player.name]"></action-sprite>
            </div>

          </div>

          <div>
            <h6>{{ player.name }} (Lv. {{ player.levels[player.style] }})</h6>
          </div>

          <div *ngIf="player.hp > 0">
            {{ player.hp }} / {{ player.maxHp }}
          </div>

          <div *ngIf="player.hp <= 0">
            DEAD
          </div>

        </ion-col>
      </ion-row>

      <ion-row *ngIf="inGame" class="adventure-log">
        <ion-col>
          <ion-row *ngFor="let logMessage of gameState.adventureLog">
            <ion-col>{{ logMessage }}</ion-col>
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row no-padding *ngIf="!inGame && !hasRoomInfo && !player">
        <div class="blank-slate">
          No games have been started yet. <button ion-button color="primary" (click)="joinGame(null, true)">Start one!</button>
        </div>
      </ion-row>

      <ion-row no-padding *ngIf="!inGame && hasRoomInfo && !player" class="game-list-container">
        <ion-col col-6 *ngFor="let info of allRoomInfo">
          <ion-card>
            <ion-card-header>
              {{ info.leader }}'s Game
            </ion-card-header>

            <ion-card-content>
              Players: {{ info.players }}/4
            </ion-card-content>

            <ion-row>
              <ion-col>
                <button ion-button block small color="secondary" (click)="joinGame(info.id)">Join Game</button>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-col>

    <ion-col no-padding class="chat-area" *ngIf="state">

      <ion-row no-padding class="chat-header">
        <ion-col no-padding>
          <ion-toolbar color="secondary">
            <ion-title>Chat - {{ state.lobby.users.length }} users online</ion-title>
          </ion-toolbar>
        </ion-col>
      </ion-row>

      <ion-row no-padding class="chat-output" #scrollArea>
        <div class="message" *ngFor="let message of state.lobby.messages">
          <span class="timestamp">{{ message.timestamp | date:'short' }}</span>
          <span class="sender">{{ message.sender }}</span>
          <span class="message">{{ message.message }}</span>
        </div>
      </ion-row>

      <ion-row no-padding class="chat-input">
        <ion-col no-padding col-10>
          <ion-input [(ngModel)]="currentMessage" placeholder="Send a message..." (keyup.enter)="sendMessage()"></ion-input>
        </ion-col>

        <ion-col col-2 class="send-container">
          <button ion-button color="primary" block (click)="sendMessage()">Send</button>
        </ion-col>
      </ion-row>

    </ion-col>

  </ion-row>
</ion-content>
