page-lobby {

  .game-area {
    min-height: calc(100vh - 60px + 4px) !important;
    max-height: calc(100vh - 60px + 4px) !important;
    overflow: hidden;

    border: 1px solid #000;
    border-right: none;
    display: flex;
    flex-direction: column;

    .game-buttons-area {
      min-height: 70px !important;
      align-items: center;
    }

    .game-list-container {
      min-height: calc(100vh - 60px - 43px - 56px) !important;
      max-height: calc(100vh - 60px - 43px - 56px) !important;
      overflow-y: auto;
      overflow-x: hidden;
      flex-wrap: wrap;
      flex-direction: row;
    }

    .game-content-area {
      flex-grow: 1;
    }

    .game-player-area {
      height: 145px !important;
      max-height: 145px !important;

      .player {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;

        .sprite-container-container {
          display: flex;
          flex-direction: row;
          min-height: 50px;
        }

        .sprite-container {
          position: relative;

          .adds {
            position: absolute;
            top: 0;
            right: 0;
            color: #fff;
            font-size: 70%;
          }

          .check {
            position: absolute;
            right: 0;
            bottom: 0;
            color: #006400;
          }
        }
        h6 {
          margin-bottom: 0;
          height: 38px !important;
        }
      }
    }

    .adventure-log {
      height: 200px !important;
      max-height: 200px !important;
      overflow-y: auto;
      border-top: 1px solid #000;
    }
  }

  .chat-area {
    border: 1px solid #000;

    .chat-output {
      display: block;
      min-height: calc(100vh - 60px - 43px - 56px) !important;
      max-height: calc(100vh - 60px - 43px - 56px) !important;
      overflow-y: auto;
      overflow-x: hidden;
      flex-direction: column;
      word-break: break-all;

      .message {
        padding: 5px;
        user-select: text;

        .timestamp {
          font-size: 80%;
          min-width: 110px;
          display: inline-block;
        }

        .sender {
          margin-left: 5px;
          font-weight: bold;
        }

        .message {
          margin-left: 5px;
        }
      }
    }

    .chat-input {
      border-top: 1px solid #000;
      height: 45px !important;

      .send-container {
        padding-top: 0 !important;
      }
    }
  }

}
